/* 
    Teodulfo Espero
    MS Cybersecurity and Information Assurance (2023)
    BS Software Development (2022)
    BS Cloud and Systems Administration (2021)
    - Western Governors University
        
    Data Analyst Nanodegree (2021)
    - Udacity (Bertelsmann Technology Scholar) 
*/

body {
    background: red;
}

@media (min-width: 576px) {
    body {
        background: orange;
    }
}
@media (min-width: 768px) {
    body {
        background: yellow;
    }
}
@media (min-width: 992px) {
    body {
        background: green;
    }
}
@media (min-width: 1200px) {
    body {
        background: blue;
    }
}